<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyShelf</title>
</head>
<body>
    <h1>PolyShelf</h1>
    <div class="menu">
        <a href="/register" class="register">Registrácia</a>
        <a href="/login" class="login">Prihlásenie</a>
    </div>
    <center><h2>Vaše bezpečné úložisko</h2></center>
    <a href="/register" class="registerDown">Registrácia</a>
    <a href="/login" class="loginDown">Prihlásenie</a>
</body>
</html>